body {
    background-color: cornsilk;
}
h1 {
    text-align: center;
}
div.img {
    margin: 20px;
    padding: 20px;
    border: 1px solid #CCCCCC;
    float: left;
}
div.img:hover {
    border: 1px solid black;
}
div.desc {
    padding: 15px;
    font-size: large;
    text-align: center;
}
