
.container {
    background: aqua;
    border: double 2px blue;
    text-align: center;
}
.container h1 {
    font-size: 56px;
    margin-bottom: 40px;
    font-weight: bold;
}
.container ul li {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}